@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,900&display=swap');

body{
	font-family: 'Open Sans', sans-serif;
	background-color: black;
	color: white;
}
.container-fluid{
	padding: 0px;
}
.navbar{
	background-color: rgba(0,0,0,.9)!important;
}
.tglogo{
	height:50px; width: 175px
}

li{		
		font-family: 'Lato', sans-serif;
		padding-right:20px;
		font-weight:bold;
		font-size: 20px
}
.navbar-dark .navbar-nav .nav-link{
	color: white;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
	color: orange;
}
.carousel-item{
	height:87vh
}

.carousel-caption1{
	text-align: center;
	color:white;
	padding-top: 350px;
	padding-left: 700px;
	font-weight:bolder;

}



#cr1{
	text-align: center;
	color:white;
	font-weight: bolder;
	font-family: 'Lato',sans-serif;
	font-weight: bolder;
	padding-top: 260px;
	text-shadow:-5px 2px 10px grey;
	font-size:100px;
}
#cr2
{
	color:white;
	font-weight: bolder;
	font-family: 'Lato',sans-serif;
	font-weight: bolder;
	text-decoration: underline;
	text-align: center;
	padding-top: 50px;
	text-shadow: -5px 2px 10px black;
	font-size: 100px; padding-left: 900px;padding-top: 300px
}

#yog{
	font-family: 'Lato',sans-serif;
	font-weight: bolder;
	font-size: 100px;
	text-align: center; 
	padding-top: 70px; 
	text-shadow: -10px 0px 10px black;
}
#courses{
	padding-top: 100px;
	padding-bottom:70px;
}
.headingcourses{
padding-left: 0px;
padding-right: 0px
}
#courseheading{
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	font-weight: bolder;
	background-color: orange;
	padding-bottom: 10px;
	padding-top: 10px;
	text-shadow: 0px 3px black
	
}
span h3{
	padding-bottom: 30px;
	padding-top:15px;
}
span h5{
	color:white;
}
i span a img{
	display: block;margin-right: auto;margin-left: auto;height:auto;width:auto;border-radius:50%;
}
span.tg{
	font-family: Arial Black; color: orange; font-weight: bolder; font-size: 20px; padding-bottom:0px;
}

.dietbg{
	height: 90vh;
	}
.dietbg h4{
	color: black;
}
.headingdiet{
	padding-right: 0px;
	padding-left: 0px;

}
.dietbg h3{
	text-align: right;
	padding-left: 500px;
	padding-top: 50px;
	color: rgb(0,27,5);
	}
.dietbg h4{
	padding-left: 500px;
	color: rgb(0,27,5);
	text-align: right;
	}
#diet{
	padding-top:100px 
}
#diet h1 {
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	font-weight: bolder; 
	background-color:rgb(0,27,5);
	color: rgb(135,199,121);
	 
}
strong
{
	display: block;

}
#dietplan{
	position: absolute;
	left: 750px;
	text-align: center;
	color: rgb(0,27,5);
	
}
#dietplan:hover{
	color:white;
	text-shadow: 2px 2px black;
	transform: scale(1.2);
}
#appoint{
	color:black;
	font-family: 'Lato', sans-serif;
	font-weight: bolder;
	position: absolute;
	left: 840px;
	top: 450px;
	font-size:30px;
	padding :20px 20px 20px;
	border-radius:30px;
	border-width: 7px;

	animation: blink 2	s infinite linear;


}

@keyframes blink{
	0% {
		opacity: 0;
	}
	20%{
		opacity: .5;
	}
	40%{
		opacity: 1;
	}
	60%{
		opacity: 1;
	}
	80%{
		opacity: 0.5;
	}
	100%{
		opacity: 0;
	}
}


#team{
	padding-top: 76px;
	background-color:rgb(41,121,170);
}
#team .group{
	padding-bottom: 100px;
}
.teamheading{
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	font-weight: bolder;
	color:white;
	text-shadow: 2px 2px black;
	background-color:rgb(1,44,71);
}
#cards{
	padding-top: 50px;
}

#teamcard{
		height: auto;
		width: 100%;
		display:block;
		margin-left:auto;
		margin-right: auto;
		border-radius: 50%
}

.card{
	background-color: rgba(1,44,71);
	margin-left: auto;
	margin-right: auto;
	height: 500px;
	width: 400px;
	border:rgb(40,0,1);
	border-width:10px;

}
#cardtext{
	color:rgb(225,225,225);

}
#achievement{
	padding-top: 100px;
	margin-right:0px;
	margin-left: 0px;

}
.achheading{
	
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	font-weight: bolder;
	background-color: rgb(45,45,45);


}
#achievement .contentbag{
	background-color: rgb(100,100,100);
}
#achievement .contentbag h4{
	font-family: 'Lato', sans-serif;
	color: yellow;
	font-size: 25px;

}
#achievement .contentbag .pad{
	padding-top: 10px;
	padding-bottom: 10px;
}
#achimg{
	height: 300px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	display:block;
	border-width: 10px;
	border-radius: 10px

}

footer{
	background-color:orange;
	color:black;
	font-size: 15px;
	font-family: Aldhabi;
	font-weight: bolder;

}

#cont{
	padding-bottom: auto;
	padding-top: 10px;
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	font-weight: bolder;
}
.fa{
	color: black;
	font-size: 35px;
	padding-left:10px;
	padding-right: 10px;
}


@media screen and (min-width: 300px) and (max-width: 560px){

#cr1{
	font-size: 45px;
}
#cr2
{
	font-size: 70px;
	 padding-left: 20px;
	  padding-top: 300px
}
#yog{

	padding-top: 300px;
	font-size: 70px;
}

.dietbg h4{
	
	position: absolute;
	left:-500px;
	top:150px;
	font-size: 18px;
	font-weight: bolder;
	text-shadow: 2px 2px 5px white;
}

.dietbg h3{
	text-align: center;
	position: absolute;
	left:-450px;
	top:0px;
	font-size:22px;
	color: rgb(0,27,5);
	text-shadow: -5px 2px 4px white;
	}

#dietplan{
	position: absolute;
	left: 100px;
	top: 300px;
	text-align: center;
	color: rgb(0,27,5);
	text-shadow: -5px 2px 4px white;
	
}

#appoint{
	position: absolute;
	left: 100px;
	top: 470px;
	font-size:30px;
	background-color: orange;
}

.card{
	background-color: rgba(1,44,71);
	margin-left: auto;
	margin-right: auto;
	height: 500px;
	width: 290px;
	border:rgb(40,0,1);
	border-width:10px;

}

#teamcard{
	height:230;width:230;
}

#achimg{
	padding-bottom:20px;
	height: 280px;
	width: 280px;
	border-radius: 20px;
}
#cont{
	font-size: 20px;
}

}
